<footer class="page-footer discord-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 l6 ad">
                <h5 class="white-text">Ready to use KaellyBot?</h5>
                <a class="waves-effect waves-light btn-small btn-discord" 
                    href="https://discordapp.com/oauth2/authorize?&client_id=202916641414184960&scope=bot">
                    Add to Discord
                </a>
            </div>
            <div class="col s12 l4 offset-l2">
                <h5 class="white-text">Community</h5>
                <ul>
                    <li><a class="white-text text-darken-3" href="https://discord.gg/CyJCFDk">Discord</a></li>
                    <li><a class="white-text text-darken-3" href="https://twitter.com/KaellyBot">Twitter</a></li>
                    <li><a class="white-text text-darken-3" href="https://github.com/Kaysoro/KaellyBot">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-3">
        <div class="container">KaellyBot © 2020 - Licensed under 
            <a class="white-text text-darken-3" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>.
        </div>
    </div>
</footer>