<div class="col s12 l6">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="valign-wrapper">
            <div class="col s3 m2">
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" class="circle responsive-img">
            </div>
            <div class="col s9 m10 panelOverview valign-wrapper grey-text text-darken-3">
                    <div class="col s12 l6 panelName">
                        <%= guild.name %>
                    </div>
                    <div class="col s12 l6">
                        <a href="/guild/<%= guild.id %>" class="waves-effect waves-light btn-small brown lighten-1">
                            <i class="material-icons right">keyboard_arrow_right</i>
                            Dashboard
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>