<div class="col s12 m10 offset-m1">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="valign-wrapper">
            <div class="col s3 m2 l1">
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" class="circle responsive-img">
            </div>
            <div class="col s9 m10 l11 guildOverview valign-wrapper">
                    <div class="col s12 l6 guildName">
                        <%= guild.name %>
                    </div>
                    <div class="col s12 l6">
                        <a href="/guild/<%= guild.id %>" class="waves-effect waves-light btn-small">
                            Go to Dashboard<i class="material-icons left">cloud</i>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>