<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" class="circle responsive-img">
            </div>
            <div class="col s10">
                <span class="col title"><%= guild.name %></span>
                <div class="col s10">- Owner
                    <% if (guild.owner){ %>
                        <i class="secondary-content material-icons">check</i>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>