<html>
    <%- include('partials/head') %>
    <body>
        <%- include('partials/nav', {user: locals.user ? user : null }) %>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <h1 class="header grey-text text-darken-3 title">Please select a server</h1>
                </div>
                <% guilds.forEach(function(guild) { %>
                    <%- include('partials/guildOverview', {guild: guild }) %>
                <% }) %>
            </div>
        </div>
    </body>
    <%- include('partials/scripts') %>
</html>