.header {
    color: #EE6E73;
    font-weight: 300;
    font-size: 2.5vw;
    line-height: 110%;
    text-align : center;
    text-transform: uppercase;
}

.navbar-img {
    height: 32px;
    vertical-align: middle;
}

nav .brand-logo {
    padding-left: 20px!;
}

nav .brand-logo img {
    height: 48px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.sidenav .user-view .name {
    font-weight: 600 !important;
    padding-bottom: 16px;
}

.guildOverview {
    text-align: center;
}

.guildName {
    color: #EE6E73;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 100%;
}

.aura {
    box-shadow: 0px 0px 40px 20px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

@media only screen and (max-width: 992px) {
    .header {
        font-size: 4vw;
    }

    nav .brand-logo img {
        margin-left: 0px;
    }

    .guildOverview {
        display: inline-block !important;
    }

    .guildName {
        font-size: 2.5vw;
        margin-bottom:5px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 7vw;
    }

    .guildName {
        font-size: 5vw;
    }
}