.header {
    font-size: 2.5vw;
    text-align : center;
    margin:20px 0px 20px 0px;
}

.header2 {
    font-size: 1.75vw;
    margin:20px 0px 20px 0px;
}

.btn-guild {
    text-align: right;
}

.setting-action {
    margin-right: 5px;
}

.back {
    width:100%;
}

.col-back {
    text-align: right !important;
}

.navbar-img {
    height: 32px;
    vertical-align: middle;
}

nav .brand-logo {
    padding-left: 20px!;
}

nav .brand-logo img {
    height: 48px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.sidenav .user-view .name {
    font-weight: 600 !important;
    padding-bottom: 16px;
}

.panelOverview {
    text-align: center;
}

.panelName {
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 100%;
}

.hoverable {
    cursor: pointer;
}

.page-footer .ad {
    text-align: center;
}

.page-footer .btn-small {
    background-color: #7289da;
    margin-top: 10px;
}

.page-footer .btn-small:visited {
    background-color: #7289da;
}

.page-footer .btn-small:hover {
    background-color: #7289da;
    filter: brightness(120%);
}

.page-footer .btn-small:active {
    background-color: #7289da;
}

.page-footer .btn-small:focus {
    background-color: #7289da;
}

.discord-footer {
    background-color: #26262b !important;
}

.aura {
    box-shadow: 0px 0px 40px 20px #0ff;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

@media only screen and (max-width: 992px) {
    .header {
        font-size: 4vw;
    }

    .header2 {
        font-size: 2.5vw;
    }

    nav .brand-logo img {
        margin-left: 0px;
    }

    .panelOverview {
        display: inline-block !important;
    }

    .panelName {
        font-size: 2.5vw;
        margin-bottom:5px;
    }

    .setting-title {
        margin-top: 20px;
    }

    .page-footer {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 6vw;
    }

    .header2 {
        font-size: 5vw;
    }

    .btn-guild {
        text-align: center;
    }

    .btn-guild a {
        width: 100%;
    }

    .panelName {
        font-size: 5vw;
    }

    .back {
        width: 60%;
        margin-top: 20px;
    }

    .col-back {
        text-align: center !important;
    }

    .row .setting-title { 
        display: inherit !important; 
    }
}