<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/nav', {user: locals.user ? user : null }) %>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="header">500 - Internal Error</h1>
                    <h2 class="header">Sorry, an error occured! :(</h2>
                </div>
            </div>
        </div>
    </body>
    <%- include('../partials/footer') %>
</html>